.jobType {
	margin-bottom: 30px;
}

.default {
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
}

.static {
	margin-bottom: 30px;

}

.item {
	display:flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #CCCCCC;
	padding: 10px 20px;
	font-size: 12px;
}

.userId,
.action {
	
}

.action__btn {
	padding: 5px 7px;
	border-radius: 5px;
}

.action__delete {
	border: 1px solid #ccc !important;
	padding: 5px 7px !important; 
	border-radius: 5px;
}
